{{name}} -- {{desc}} -- {{group}} task
=======================================

Parameters
---------------------------------------

.. list-table:: Title
   :widths: 25 25 50
   :header-rows: 1

   * - Parameter
     - Default
     - Description{{# paramList}}}
   * - {{name}}
     - :code:`{{default}}`
     - {{shortdescription}}{{/ paramList}}

Description
---------------------------------------
{{docstring}}
